# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Python
__pycache__/
*.pyc

# Env files
.env
.env.*
!.env.example

# Uploads
uploads/
backend/uploads/

# Node
node_modules/

# OS files
.DS_Store